
/* selector {property: value} */
/*nav {border: 1px solid red}*/

/*#indexpage .mainnavigation li:nth-child(1){background-color: yellow;}
#portfoliopage .mainnavigation li:nth-child(3){background-color: yellow;}
#contactpage .mainnavigation li:nth-child(4){background-color: yellow;}
#landingpage .mainnavigation li:nth-child(3){background-color: yellow;}
*/

/*.cell{border: 1px solid red}*/

.mainnavigation {padding: 3px;
                border-bottom: 1px solid silver;
                padding-bottom: 5px;
}
.grid-padding-x {padding: 8px;}

.handwriting {font-family: 'Parisienne', cursive;
               text-align: center;}

h1, h2, h3, h4, h5, h6 {text-align: center;}

.personality {text-align: center;}

/* mobile first */
body {
    /*background: #CCBBD5;*/
    font-family: 'Open Sans', sans-serif;
    color: black;
    /*body {padding: 5rem 1rem;
    }*/
}

p{
  font-size: 15px;
}


img {
    display: block;
    margin: auto;
}

/*aboutme page*/
.aboutme{border-bottom: 1px solid silver;}
.personality{border-bottom: 1px solid silver;}

/* desktop version, screen is wider than 500px */
@media only screen and (min-width: 500px){
  p{font-size: 24px;
    }
  h1{font-size: 50px;
    }
}

/*nav style*/
nav ul {
    list-style-type: none; /* remove bullets */
    /*margin: 0;*/
    /*padding: 20px;*/
    /*background-color: #CCBBD5;*/
    text-align:center;
    /*border-radius: 5px;*/
}
nav li {
    display: inline;
    padding: 6px;
    text-transform: uppercase;

}
nav a:link, nav a:visited{
  text-decoration:none;
  color: black;
  padding: 5px;
  margin: 0;
  font-size: 10px;
}
nav a:hover {
  background-color:	 #f2f2f2;
  text-decoration: none;
  font-size: 10px;
}
nav a.current{
  background-color:  #b3b3b3;
}

/*coming soon style*/
body, html {
   height: 100%;
    margin: 0;
}

.background {
    background-color:#4d4d4d;
    height: 100%;
    /*background-position: center;
    background-size: cover;
    position: relative;*/
    text-transform: uppercase;
    color: white;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}

/*feedbackpage*/
/*.tealbg {background color: teal;}
.buttomsuccess{background-color: green;}
.feedbackform{padding: 100px;}




/* main page */

/*about page*/
/*#aboutpage .mainnavigation li:nth-child(2){background-color: yellow;}


/* portfolio page starts*/
/*
* {box-sizing:border-box}
#portfoliopage{background-color: white;}
